body {
    padding-top: 60px;
    padding-bottom: 40px;
}


.breadcrumbs {
	font-size: 11px;
	margin-bottom: 30px;
}

h1 {
	margin-bottom: 30px;
}



ul.blocks {
	margin: 10px 0;
	padding: 10px 10px 0 10px;
	border: 3px dashed #ddd;
}
ul.blocks li.block {
	margin-bottom: 10px;
	background: #f5f5f5;
	padding: 10px;
}
ul.blocks li.block.empty {
	color: #999;
	background: none;
	font-style: italic;
}
ul.blocks li.block h2 {
	margin-top: 0;
}
ul.blocks li.block div.form-actions {
	margin: 10px 0 0 0;
	padding: 3px 3px 3px 20px;
	border-top: 0;
	background: none;
}




.rounded-small {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


ul.list {
    margin-bottom: 30px;
}
ul.list li {
	margin: 10px 0;
	padding: 10px;
	background: #f7f7f7;
    position: relative;
}
ul.list li .btn-group {
    position: absolute;
    right: 5px;
    top: 5px;
}
ul.list li.locked h2 {
    color: #bbb;
}
ul.list li h2 {
	font-size: 16px;
	margin: 0;
	line-height: normal;
}
ul.list li h3 {
	color: #999;
	font-size: 12px;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 10px 0;
}


