body {
    padding-top: 60px;
    padding-bottom: 40px;
}


.breadcrumbs {
	font-size: 11px;
	margin-bottom: 30px;
}

h1 .badge {
    vertical-align: middle;
}

a.light {
    color: #bbb;
}

ul.nav-tabs {
    margin-top: 30px;
}


ul.blocks {
	margin: 10px 0;
	padding: 10px 10px 0 10px;
	border: 3px dashed #ddd;
    min-height: 30px;
}
ul.blocks li.block {
	margin-bottom: 10px;
	background: #f5f5f5;
	padding: 10px;
}
ul.blocks li.block.empty {
	color: #999;
	background: none;
	font-style: italic;
}
ul.blocks li.block.global {
	color: #ccc;
    background: #f7f7f7;
	font-style: italic;
}
ul.blocks li.block h2 {
	margin-top: 0;
}
ul.blocks li.block div.form-actions {
	margin: 10px 0 0 0;
	padding: 3px 3px 3px 20px;
	border-top: 0;
	background: none;
}




.rounded-small {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


ul.list {
    margin-bottom: 30px;
}
ul.list li {
	margin: 10px 0;
	padding: 10px;
	background: #f9f9f9;
    position: relative;
}
ul.list li .btn-group {
    position: absolute;
    right: 5px;
    top: 5px;
    visibility: hidden;
}
ul.list li:hover {    
	background: #f5f5f5;
}
ul.list li:hover .btn-group {
    visibility: visible;
}
ul.list li.locked h2 {
    color: #bbb;
}
ul.list li h2 {
	font-size: 16px;
	margin: 0;
	line-height: normal;
}
ul.list li h3 {
	color: #999;
	font-size: 12px;
	font-weight: normal;
	line-height: normal;
	margin: 0;
}

ul.tree li.root h2 {
    color: #ccc;
    padding: 0 0 15px 0;
	border-bottom: 3px dashed #ddd;
}
ul.tree li.node {
    padding-left: 20px;
    padding-right: 0px;
    background: none;
    margin-top: 0;
    margin-bottom: 0;
}
ul.tree li.node:hover {
	background: #f3f3f3; 
}
ul.tree .offset1 { margin-left: 20px; }
ul.tree .offset2 { margin-left: 40px; }
ul.tree .offset3 { margin-left: 60px; }
ul.tree .offset4 { margin-left: 80px; }
ul.tree .offset5 { margin-left: 100px; }
ul.tree .offset6 { margin-left: 120px; }
ul.tree .offset7 { margin-left: 140px; }
ul.tree .offset8 { margin-left: 160px; }
ul.tree .offset9 { margin-left: 180px; }
ul.tree .offset10 { margin-left: 200px; }
ul.tree .offset11 { margin-left: 220px; }
ul.tree .offset12 { margin-left: 240px; }


ul li.draggable, .sortable > li {    
    cursor: move;
}

ul-sortable-helper {
    visibility: visible;
}